.search-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 520px;
  background-image: url("../../img/assets/bg1.jpg");
  background-size: cover;
  background-position: center center;
  border-top: 1px solid #ccc;
}

.search-panel {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  padding: 25px;
  max-width: 1200px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.search-input {
  width: auto;
  height: 25px;
  width: 450px;
  margin: 20px;
  padding: 5px 30px;
  flex-grow: 1;
  border-radius: 2px;
}

.search-panel label {
  font-size: 20px;
}

.btn-search {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 9px 50px;
  border-radius: 2px;
  border-bottom: none;
  background: linear-gradient(to right, #c84d57, #e86971);
  outline: none;
  border: none;
}
